<!DOCTYPE html>
<html>
<head><title>Ruby on Rails Tutorial Sample App | Help</title>
</head>
<body>
<h1>Sample App Help</h1>
<p>You are seeking help from 
<a href="http://a.knxu.com/static_pages/help">this help page</a>.
Alternatively, you could visit the tutorial help page
<a href="http://railstutorial.org/help">here</a>

</p>
</body>
</html>

